@charset 'UTF-8';

@import "normalize.min.less";
@import "palette.less";
@import "core.less";

// @import url('https://fonts.googleapis.com/css?family=Lato|Raleway:200');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



html, body {
    color: @textPrimaryColor;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

input[type=number] {
    width: 100%;
    min-height: 35px;
    height: 35px;
    max-height: 35px;
    outline: none;
    border: 1px solid @dividerColor;
    border-radius: 2px;
    font-size: 18px;
    color: @secondaryTextColor;
    padding: 3px 3px 3px 5px;
    .boxShadow(1px, 1px, 8px, 0, rgba(10, 10, 10, 0.4));
    &:focus, &:active {
        .boxShadow(1px, 1px, 12px, 0, rgba(10, 10, 10, 0.7));
    }
}

.diff {
    color: @secondaryTextColor;
}

.maindiv {
    .title {
        font-family: 'Raleway', sans-serif;
        padding: 15px 0;
        text-align: center;
        background-color: @primaryColor;
        a {
            text-decoration: none;
            h1 {
                font-size: 36px;
                font-weight: 500;
                color: @textPrimaryColor;
            }
        }
    }

    #offline-div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: @darkPrimaryColor;
        .flexBox();
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        span {
            margin-left: 5px;
            margin-right: 15px;
        }
        .offline-buttons {
            button {
                padding: 6px 15px;
                background-color: @accentColor;
                border: none;
                color: @textPrimaryColor;
                cursor: pointer;
                .borderRadius(3%);
                .boxShadow(0, 0, 1px, 1px, rgba(10, 10, 10, 0.4));
                .boxShadow(1px, 1px, 8px, 0, rgba(10, 10, 10, 0.5));
            }
        }
    }

    .container {
        table {
            table-layout: fixed;
            width: 98%;
            margin: 10px auto;
            background-color: @lightPrimaryColor;
            border-collapse: collapse;
            color: @primaryTextColor;
            font-weight: 500;
            border-spacing: 0;
            border: 1px solid @primaryColor;
            font-size: 18px;
            .boxShadow(0, 0, 1px, 1px, rgba(10, 10, 10, 0.4));
            .boxShadow(1px, 1px, 8px, 0, rgba(10, 10, 10, 0.5));
            tr > th {
                background-color: @primaryColor;
                color: @textPrimaryColor;
                height: 36px;
            }
            tr > td {
                padding: 10px;
            }
        }
        .inputVolume {
            text-align: center;
            width: 98%;
            margin: 10px auto;
            .flexBox();
            flex-direction: row;
            justify-content: space-around;
            input {
                width: 50%;
                
            }
            span {
                font-size: 22px;
            }
        }
        .outputVolume {
            text-align: center;
            width: 98%;
            margin: 10px auto;
            margin-top: 30px;
            .flexBox();
            flex-direction: row;
            justify-content: space-around;
            input {
                width: 50%;
            }
            span {
                font-size: 22px;
            }
        }
    }

    .button-offline {
        position: fixed;
        right: 10px;
        padding: 10px 25px;
        background-color: @accentColor;
        border: none;
        width: 50px;
        height: 50px;
        color: @textPrimaryColor;
        font-size: 28px;
        .borderRadius(50%);
        .boxShadow(0, 0, 1px, 1px, rgba(10, 10, 10, 0.4));
        .boxShadow(1px, 1px, 8px, 0, rgba(10, 10, 10, 0.5));
        &.save {
            bottom: 10px;
        }
        &.load {
            bottom: 70px;
            background-color: @secondaryTextColor;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            cursor: pointer;
            .boxShadow(1px, 1px, 12px, 0, rgba(10, 10, 10, 0.75));
        }
    }
}


/** MEDIA QUERIES */

// Tablet
@media only screen and (min-width: 650px) {
    .maindiv {
        .container {
            //width: 100%;
            .gridBox();
            grid-template-columns: auto auto;
            .inputVolume {
                width: 75%;
            }.outputVolume {
                width: 75%;
                margin-top: 10px;
            }
            table {
                width: 75%;
            }
        }
    }
}